    
<!DOCTYPE html>
    <html lang="en">
    <head>
      <meta charset="UTF-8">
      <titleNotice Board|Staff</title>
    <link rel='stylesheet', href='/stylesheets/style.css'>
    <link rel='stylesheet', href='/stylesheets/chunkfive-fontface.css'>
    </head>
    <body>
    <ul>
      <li><a href="/general">General</a></li>
      <li><a href="#">Staff</a></li>
      <li><a href="/fellow">Fellow</a></li>
    </ul>
    <h3>Welcome to Staff Notice Board</h3>
    <ul class="announcements">
      <% for(var i=0; i<announcements.length; i++) {%>
      	<% if(announcements[i].dropdown === 'staff'){%>
        <li class="message">
          <b>Announcer: </b><span><%= announcements[i].name %></span>          

        </li>

        <li class="message">
       
          <b>Title: </b<span><%= announcements[i].title %></span>


        </li>
         <li class="message">

          <b>Audience : </b><span><%= announcements[i].dropdown %></span>
 

        </li>
        <li class="message">
 
          <b>Message: </b><span><%= announcements[i].message %></span>

        </li>
        =====================================================================
        <% } %>
      <% } %>
    </ul>

</body>
</html>