 
 /*===================General Rules ======================*/

.navBar {
  background-image: -moz-linear-gradient( 90deg, rgb(51,51,51) 0%, rgb(62,62,62) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(51,51,51) 0%, rgb(62,62,62) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(51,51,51) 0%, rgb(62,62,62) 100%);
  position: absolute;
  left: 0px;
  top: -1px;
  width: 1350px;
  height: 72px;
  z-index: 4;
}
 .navBar ul{
 	float: right;
 }
 .navBar ul li{

  list-style: none;
  font-size: 14px;
  font-weight: bold;
  display: inline-block;
  color:#fff;
  font-family: "Lucida Fax";
  color: rgb(253, 253, 253);
  font-style: italic;
  text-transform: uppercase;
  line-height: 1.2;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.55);
  -moz-transform: scale(1.2, 1);
  -webkit-transform: scale(1.2, 1);
  -ms-transform: scale(1.2, 1);
  padding: 20px 30px; 
  top: 55px;
  z-index: 4;
}
  .navBar ul li a{
 	font-size: 14px;
 	text-decoration: none;
 	color: #f1eded;



 }

 .navBar li a:hover,.navBar li a:focus{
	color:#666464;
}


body{
  background-color:#dfdddd;
  position: absolute;
  left: 0px;
  
  height: 700px;
  z-index: 2;

}

.mainBg form {

  border-radius: 1px;
  background-color: rgb(238, 238, 238);
  box-shadow: 1px 0px 2px 0px rgba(0, 0, 0, 0.49);
  position: relative;
  left: 475px;
  top: 60px;
  padding-top: 20px;
  width: 450px;
  height: 450px;
  z-index: 11;
  text-align: center;


}


#input_text{
	left: 502px;
	border-width: 1px;
	width: 350px;
	height: 35px;
	border-color: rgb(198, 198, 198);
   background-color: rgb(253, 253, 253);
   border-style: solid;
   margin-bottom:10px;
   margin-left:6px;

}

#join {

	background: url("/thumbnail/join.png");
  border-style: solid;
  border-width: 1px;
  border-color: rgb(233, 172, 26);
  left: 503px;
  top: 466px;
  width: 345px;
  height: 38px;
  margin-left:8px;
  margin-top: 30px;
  font-size: 24px;
  z-index: 13;

}

/* =======================================  Notice Board ======================================== */

.message  {
	list-style: none;
	font-size: 14px;
	color:#333;
	padding: 20px 20px;
}

.announcements{
  border-radius: 1px;
  background-color: rgb(238, 238, 238);
  box-shadow: 1px 0px 2px 0px rgba(0, 0, 0, 0.49);
  position: relative;
  left: 350px;
  top: 60px;
  padding-top: 20px;
  width: 600px;
  height: 2400px;
  z-index: 11;
  text-align: center;

}

hr{
	color: #2e2e2e;
	padding-left:100px;
	width: 400px;
}


/*================================Login Form=======================================*/

.form-signin
{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading, .form-signin .checkbox
{
    margin-bottom: 10px;
}
.form-signin .checkbox
{
    font-weight: normal;
}
.form-signin .form-control
{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus
{
    z-index: 2;
}
.form-signin input[type="text"]
{
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"]
{
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.account-wall
{
    margin-top: 20px;
    padding: 40px 0px 20px 0px;
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.login-title
{
    color: #555;
    font-size: 18px;
    font-weight: 400;
    display: block;
}
.profile-img
{
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.need-help
{
    margin-top: 10px;
}
.new-account
{
    display: block;
    margin-top: 10px;
}